*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #100559;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.contenedor_grande_navbar{
    width: 100%;
    display: flex;
}

#navbar_grande{
    width: 100%;
    align-items: center;
    display: flex;
}

.navbar_grande{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
}

.navbar_grande li a:hover{
    color: white;
    transition: .5s;
}

#navbar{
    display: none;
}

.contenedorIcono{
    display: none;
}

main{
    height: 75vh;
    width: 100%;
}

.sectionBienvenida{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionBienvenida .texto{
    color: white;
    font-weight: lighter;
    padding: 1rem;
    padding-left: 0;
    font-size: 1.5rem;
}

.bienvenidaTexto{
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenidaTexto .textoSubrayado{
    color: white;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.bienvenidaTexto .texto{
    color: white;
    font-weight: 300;
}

.bienvenidaTexto .titulo{
    font-weight: bolder;
}

.bienvenidaImagen{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foto-cv{
    width: 80%;
}

.titulo{
    color: #f4ad66;
    font-weight: lighter;
}

.subtitulo{
    color: #f4ad66;
    font-weight: 400;
}

.texto{
    color: white;
    font-weight: 400;
}

.subrayadoCarreras{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
}

.redondeado{
    padding: .5rem;
    padding-top: .25rem;
    margin: .15rem;
    border-radius: 3rem;
    border-style: dotted;
    border-color: #f4ad66;
    text-shadow: 0px 0px 60px #339CB4;
}

.textoSubrayado{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.etiquetas{
    color: #52D8D0;
    font-weight: lighter;
}

.sobremiMain{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
}

.sobremi{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.sobremi .texto{
    padding-top: .75rem;
}

.sobremi .textoSubrayado{
    padding-bottom: 1rem;
}

.sobremi .titulo{
    font-weight: 400;
}

.divTecnicas .titulo{
    padding: 1rem 0;
}

.aptitudes{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.listaAptitudes{
    display: flex;
    flex-direction: column;
}

.listaTecnicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tecnicas1{
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.tecnicas1-1{
    width: 100%;
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tecnicas1-2{
    width: 100%;
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tecnicas1-1 li{
    display: flex;
    padding: 0 .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas1-2 li{
    display: flex;
    padding: 0 .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas1-1 li i{
    padding-bottom: .5rem;
}

.tecnicas1-2 li i{
    padding-bottom: .5rem;
}

.tecnicas2{
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.tecnicas2-1{
    width: 100%;
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tecnicas2-2{
    width: 100%;
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tecnicas2-1 li{
    display: flex;
    padding: 0 .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas2-2 li{
    display: flex;
    padding: 0 .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas2-1 li i{
    padding-bottom: .5rem;
}

.tecnicas2-2 li i{
    padding-bottom: .5rem;
}

.divBlandas .titulo{
    padding: 1rem 0;
}

.listaBlandas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.listaBlandas li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaBlandas li i{
    padding-bottom: .5rem;
}

.blandas1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blandas1 li{
    display: flex;
    padding: 0 .5rem;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blandas1 li p{
    text-align: center;
}

.blandas2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blandas2 li{
    display: flex;
    padding: 0 .5rem;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blandas2 li p{
    text-align: center;
}

.listaAptitudes .titulo{
    font-weight: bolder;
}

.lista{
    list-style-type: none;
    padding: 4px;
}

.navbar .subtitulo:hover{
    color: white;
    transition: .75s;
}

.enlace{
    text-decoration: none;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
}

.mainEducacion{
    height: 70vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educacion{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.educacion h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.educacion .titulo{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.educacion .nombres{
    font-weight: bolder;
    color: white;
}

.educacion .etiquetas{
    font-weight: bolder;
}

.listaEducacion{
    padding-top: 1rem;
    display: flex;
}

.carreras{
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    list-style-type: none;
}

.contenedorCursos{
    width: 100%;
}

.cursos{
    width: 100%;
    list-style-type: none;
}

.carrerasCursos{
    list-style-type: none;
    padding-top: 1rem;
}

.datosCarreras{
    list-style-type: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.datosCarreras li{
    padding-top: 1rem;
}

.datosCarreras .explicacion{
    font-weight: lighter;
}

.logosEducacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.imagen-logo{
    width: 10%;
    padding: 1rem;
}

.mainXp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textoError{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.contenedorTextoError h2{
    margin-bottom: 1rem;
}

.contenedorTextoError p{
    margin-bottom: .75rem;
}

.contenedorTextoError .last{
    margin-bottom: 2rem;
}

.textoError .redondeado{
    font-weight: bolder;
}

.imagenError{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagenError img{
    width: 50%;
}

.boton{
    color: white;
    text-decoration: none;
    background-color: #339CB4;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

.boton:hover{
    color: #100559;
    background-color: #f4ad66;
    transition: .5s;
}

.mainContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccionContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.textoContacto p{
    margin-top: 1rem;
}

.iconosContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.listaContacto .izq{
    width: 100%;
    display: flex;
    justify-content: center;
}

.listaContacto .izq li{
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.listaContacto .izq a{
    color: white;
}

.listaContacto .izq a:hover{
    color: #f4ad66;
    transition: .5s;
}

.listaContacto .der{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.listaContacto .der li{
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.listaContacto .der a{
    color: white;
}

.listaContacto .der a:hover{
    color: #f4ad66;
    transition: .5s;
}

.mainPortfolio{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionProgramacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionDiseño{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion3D{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cards1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cards2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.card{
    height: auto;
    width: 50%;
    background-color: #100559;
    box-shadow: 5px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
    border-radius: 1rem 0;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.card a{
    text-decoration: none;
    width: 100%;
}

.card:hover{
    width: 52%;
    transition: .5s;
}

.card .titulo{
    font-weight: 500;
    padding: .25rem;
}

.card .texto{
    padding: .5rem;
}

.card img{
    width: 100%;
    border-radius: 1rem 0;
}

footer{
    bottom: 0;
    width: 100%;
    height: 15vh;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enlaceIconos{
    font-size: 2rem;
}

.iconos:hover{
    color: #f4ad66;
    transition: .5s ease;
}

.linea{
    width: 99.9%;
    color: #100559;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.15);
}

.iconos{
    color: white;
    font-size: 2rem;
}

.divDerechos{
    height: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divDerechos .texto{
    font-weight: lighter;
    font-size: 1.25rem;
}

.iconosFooter{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media(max-width:1200px){
    .bienvenidaTexto div{
        width: 90%;
    }

    .imagen-logo{
        width: 15%;
    }

    .mainEducacion{
        height: auto;
    }
}

@media(max-width:992px){
    .bienvenidaTexto div{
        width: 95%;
    }

    .bienvenidaTexto div .textoSubrayado{
        font-size: 1.25rem;
    }

    .bienvenidaTexto div .texto{
        font-size: 1.15rem;
    }

    .listaBlandas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainEducacion{
        height: auto;
    }

    .textoContacto{
        width: 90%;
    }

    .textoContacto p{
        text-align: center;
    }

    .divDerechos .texto{
        font-size: 1rem;
    }

    .iconosFooter{
        font-size: .5rem;
    }
}

@media(max-width:768px){
    header{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .contenedor_grande_navbar{
        display: none;
    }
    .contenedorIcono{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .icono{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        font-size: 2rem;
        color: white;
    }
    .icono:hover{
        color: #f4ad66;
        transition: .5s;
    }
    #navbar{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    #navbar:target{
        display: block;
    }
    .navbar{
        border-bottom: 1px solid #339CB4;
        margin-bottom: 1rem;
    }
    .navbar li{
        border-top: 1px solid #339CB4;
        padding: .5rem;
    }
    .cerrar{
        text-decoration: none;
        color: white;
        margin: 1rem;
    }
    .cerrar:hover{
        padding: .5rem;
        border: 2px solid #f4ad66;
        border-radius: 2rem;
        transition: .5s;
    }
    main{
        height: auto;
    }
    .sectionBienvenida{
        width: 100%;
        margin-top: 1rem;
        flex-direction: column;
    }
    .bienvenidaTexto{
        width: 100%;
        height: 35vh;
        margin-bottom: 1rem;
    }
    .bienvenidaImagen{
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .bienvenidaImagen img{
        width: 50%;
    }

    .listaTecnicas{
        align-items: center;
    }

    .tecnicas1{
        flex-direction: column;
    }

    .tecnicas1-1{
        justify-content: space-around;
        margin: 0;
    }

    .tecnicas1-1 li{
        padding-top: .5rem;
    }

    .tecnicas1-2{
        justify-content: space-around;
        margin: 0;
    }

    .tecnicas1-2 li{
        padding-top: .5rem;
    }

    .tecnicas2{
        flex-direction: column;
    }

    .tecnicas2-1{
        justify-content: space-around;
        margin: 0;
    }

    .tecnicas2-1 li{
        padding-top: .5rem;
    }

    .tecnicas2-2{
        justify-content: space-around;
        margin: 0;
    }

    .tecnicas2-2 li{
        padding-top: .5rem;
    }

    .mainEducacion{
        height: auto;
    }

    .listaEducacion{
        flex-direction: column;
    }

    .listaEducacion li{
        padding: 0;
        margin-bottom: 1rem;
    }

    .logosEducacion{
        justify-content: center;
    }

    .mainXp{
        margin-top: 1rem;
        margin-bottom: 2rem;
        height: 70vh;
    }

    .textoError{
        padding: 0;
        margin-left: 0;
        width: 90%;
    }

    .imagenError{
        display: none;
    }

    .cards{
        flex-direction: column;
    }

    .seccionDiseño .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .seccionDiseño .cards .card{
        width: 40%;
    }

    .seccion3D .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .seccion3D .cards .card{
        width: 40%;
    }

    .mainContacto{
        height: 75vh;
        justify-content: center;
        align-items: center;
    }

    .seccionContacto{
        width: 90%;
    }

    .textoContacto{
        text-align: center;
    }

    .iconosContacto{
        margin: 1rem;
    }

    .izq li a i{
        font-size: 2.5rem;
    }

    .der li a i{
        font-size: 2.5rem;
    }

    .divDerechos .texto{
        font-size: 1rem;
    }

    .iconosFooter{
        font-size: .5rem;
    }
}

@media(max-width:576px){
    header{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .contenedor_grande_navbar{
        display: none;
    }
    .contenedorIcono{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .icono{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        font-size: 2rem;
        color: white;
    }
    .icono:hover{
        color: #f4ad66;
        transition: .5s;
    }
    #navbar{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    #navbar:target{
        display: block;
    }
    .navbar{
        border-bottom: 1px solid #339CB4;
        margin-bottom: 1rem;
    }
    .navbar li{
        border-top: 1px solid #339CB4;
        padding: .5rem;
    }
    .cerrar{
        text-decoration: none;
        color: white;
        margin: 1rem;
    }
    .cerrar:hover{
        padding: .5rem;
        border: 2px solid #f4ad66;
        border-radius: 2rem;
        transition: .5s;
    }
    .mainIndex{
        height: auto;
    }
    .sectionBienvenida{
        width: 100%;
    }
    .bienvenidaTexto{
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .bienvenidaTexto div{
        width: 90%;
    }
    .bienvenidaTexto div .textoSubrayado{
        font-size: 1rem;
    }

    .bienvenidaTexto div .texto{
        font-size: 0.9rem;
    }

    .bienvenidaImagen{
        height: 35vh;
    }

    .sobremi .textoSubrayado{
        font-size: 1rem;
    }

    .sobremi .texto{
        font-size: 0.9rem;
    }

    .aptitudes .textoSubrayado{
        font-size: 1rem;
    }

    .divTecnicas .titulo{
        font-size: 1rem;
    }

    .divBlandas .titulo{
        font-size: 1rem;
    }

    .listaTecnicas{
        flex-direction: column;
    }

    .tecnicas1{
        flex-direction: column;
        margin: 0;
        font-size: .9rem;
    }

    .tecnicas1-1{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .tecnicas1-2{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .tecnicas2{
        flex-direction: column;
        margin: 0;
        font-size: .9rem;
    }

    .tecnicas2-1{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .tecnicas2-2{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .tecnicas1 li i{
        display: none;
    }

    .tecnicas2 li i{
        display: none;
    }

    .listaBlandas{
        flex-direction: row;
    }

    .blandas1 li{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .blandas1{
        flex-direction: column;
        align-items: flex-start;
        font-size: .9rem;
        text-align: start;
    }

    .blandas2{
        flex-direction: column;
        align-items: flex-start;
        font-size: .9rem;
    }

    .blandas1 li i{
        display: none;
    }

    .blandas2 li i{
        display: none;
    }

    .mainEducacion{
        height: auto;
    }

    .educacion h2{
        font-size: 1.15rem;
    }

    .educacion .titulo{
        font-size: .95rem;
    }

    .nombres{
        font-size: .95rem;
    }

    .datosCarreras li{
        font-size: .9rem;
    }

    .listaEducacion{
        flex-direction: column;
    }

    .listaEducacion li{
        padding: 0;
        margin-bottom: 1rem;
    }

    .logosEducacion{
        justify-content: center;
    }

    .mainXp{
        margin-top: 1rem;
        margin-bottom: 2rem;
        height: 70vh;
    }

    .mainXp h2{
        font-size: 1.15rem;
    }

    .mainXp p{
        font-size: 1rem;
    }

    .textoError{
        padding: 0;
        margin-left: 0;
        width: 90%;
    }

    .imagenError{
        display: none;
    }

    .mainPortfolio h2{
        font-size: 1rem;
    }

    .mainPortfolio h3{
        font-size: .95rem;
    }

    .mainPortfolio p{
        font-size: .9rem;
    }

    .cards{
        flex-direction: column;
    }

    .seccionDiseño .cards{
        flex-direction: column;
        align-items:center;
    }

    .seccion3D .cards{
        flex-direction: column;
        align-items:center;
    }

    .mainContacto{
        height: 75vh;
    }

    .mainContacto h2{
        font-size: 1.15rem;
    }

    .mainContacto p{
        font-size: 1rem;
    }

    .footerIndex{
        height: 15vh;
    }

    .divDerechos .texto{
        font-size: 1rem;
    }

    .iconosFooter{
        font-size: .5rem;
    }
}
