*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #100559;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

nav{
    width: 100%;
    align-items: center;
    display: flex;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
}

main{
    height: 75vh;
    width: 100%;
}

.sectionBienvenida{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionBienvenida .texto{
    color: white;
    font-weight: lighter;
    padding: 1rem;
    padding-left: 0;
    font-size: 1.5rem;
}

.bienvenidaTexto{
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenidaTexto .textoSubrayado{
    color: white;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.bienvenidaTexto .texto{
    color: white;
    font-weight: 300;
}

.bienvenidaTexto .titulo{
    font-weight: bolder;
}

.bienvenidaImagen{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foto-cv{
    width: 80%;
}

.titulo{
    color: #f4ad66;
    font-weight: lighter;
}

.subtitulo{
    color: #f4ad66;
    font-weight: 400;
}

.texto{
    color: white;
    font-weight: 400;
}

.subrayadoCarreras{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
}

.redondeado{
    padding: .5rem;
    padding-top: .25rem;
    margin: .15rem;
    border-radius: 3rem;
    border-style: dotted;
    border-color: #f4ad66;
    text-shadow: 0px 0px 60px #339CB4;
}

.textoSubrayado{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.etiquetas{
    color: #52D8D0;
    font-weight: lighter;
}

.sobremiMain{
    display: flex;
    flex-direction: column;
}

.sobremi{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobremi .texto{
    padding-top: .75rem;
}

.sobremi .textoSubrayado{
    padding-bottom: 1rem;
}

.sobremi .titulo{
    font-weight: 400;
}

.divTecnicas .titulo{
    padding: 1rem 0;
}

.aptitudes{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.listaAptitudes{
    display: flex;
    flex-direction: column;
}

.listaTecnicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tecnicas1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.tecnicas1 li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas1 li i{
    padding-bottom: .5rem;
}

.tecnicas2{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.tecnicas2 li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnicas2 li i{
    padding-bottom: .5rem;
}

.divBlandas .titulo{
    padding: 1rem 0;
}

.listaBlandas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.listaBlandas li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaBlandas li i{
    padding-bottom: .5rem;
}

.listaAptitudes .titulo{
    font-weight: bolder;
}

.lista{
    list-style-type: none;
    padding: 4px;
}

.navbar .subtitulo:hover{
    color: white;
    transition: .75s;
}

.enlace{
    text-decoration: none;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
}

.educacion{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.educacion h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.educacion .titulo{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #f4ad66;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.educacion .nombres{
    font-weight: bolder;
    color: white;
}

.educacion .etiquetas{
    font-weight: bolder;
}

.listaEducacion{
    padding-top: 1rem;
    display: flex;
}

.carreras{
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    list-style-type: none;
}

.contenedorCursos{
    width: 100%;
}

.cursos{
    width: 100%;
    list-style-type: none;
}

.carrerasCursos{
    list-style-type: none;
    padding-top: 1rem;
}

.datosCarreras{
    list-style-type: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.datosCarreras li{
    padding-top: 1rem;
}

.datosCarreras .explicacion{
    font-weight: lighter;
}

.logosEducacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.imagen-logo{
    width: 10%;
    padding: 1rem;
}

.mainXp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textoError{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.contenedorTextoError h2{
    margin-bottom: 1rem;
}

.contenedorTextoError p{
    margin-bottom: .75rem;
}

.contenedorTextoError .last{
    margin-bottom: 2rem;
}

.textoError .redondeado{
    font-weight: bolder;
}

.imagenError{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagenError img{
    width: 50%;
}

.boton{
    color: white;
    text-decoration: none;
    background-color: #339CB4;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

.boton:hover{
    color: #100559;
    background-color: #f4ad66;
    transition: .5s;
}

.mainContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccionContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.textoContacto p{
    margin-top: 1rem;
}

.iconosContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.listaContacto .izq{
    width: 100%;
    display: flex;
    justify-content: center;
}

.listaContacto .izq li{
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.listaContacto .izq a{
    color: white;
}

.listaContacto .izq a:hover{
    color: #f4ad66;
    transition: .5s;
}

.listaContacto .der{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.listaContacto .der li{
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.listaContacto .der a{
    color: white;
}

.listaContacto .der a:hover{
    color: #f4ad66;
    transition: .5s;
}

.mainPortfolio{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionProgramacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionDiseño{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion3D{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 35vh;
    width: 25%;
    background-color: #100559;
    box-shadow: 5px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
    border-radius: 1rem 0;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.card a{
    text-decoration: none;
    width: 100%;
}

.card:hover{
    width: 27%;
    transition: .5s;
}

.card .titulo{
    font-weight: 500;
    padding: .25rem;
}

.card .texto{
    padding: .5rem;
}

.card img{
    width: 100%;
    border-radius: 1rem 0;
}

footer{
    bottom: 0;
    width: 100%;
    height: 15vh;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enlaceIconos{
    font-size: 2rem;
}

.iconos:hover{
    color: #f4ad66;
    transition: .5s ease;
}

.linea{
    width: 99.9%;
    color: #100559;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.15);
}

.iconos{
    color: white;
    font-size: 3rem;
}

.divDerechos{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divDerechos .texto{
    font-weight: lighter;
    font-size: 1.25rem;
}

.iconosFooter{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}